.body {
    width: 946px;
    height: 124px;
    background: #FFFFFF;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    margin-bottom: 8px;

}

.title {
margin-bottom: 52px;
    width: 466px;
    height: 22px;
    margin-top: 16px;
}

.price {
    padding-right: 33px;
}

.titleGroup {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.priceGroup {
    margin-top: 35px;
    display: flex;
    margin-left: 200px;


}
.basket {
    width: 52px;
    height: 52px;
    display: flex;
    cursor: pointer;

}

