.body {
    width: 37px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
    position: relative;
    display: inline-block;
    margin-bottom: 17px;
}

.body:hover .drop_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drop_btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.body:hover .drop_btn {
    background-color: black;
}

.body img {
    width: 12px;
    height: 6px;
    margin-left: 3px;
}

.body img {
    display: flex;

}

.drop_content {
    display: none;
    max-width: 50px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}



.drop_content a {
    color: white;
    padding: 12px 16px;
    border-bottom: 1px solid #016DA6;
    display: flex;
}